@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'code-regular';
        src: url(./assets/font/FiraCode-Regular.ttf);
    }

    @font-face {
        font-family: 'code-medium';
        src: url(./assets/font/FiraCode-Medium.ttf);
    }

    @font-face {
        font-family: 'code-semibold';
        src: url(./assets/font/FiraCode-SemiBold.ttf);
    }

    @font-face {
        font-family: 'code-bold';
        src: url(./assets/font/FiraCode-Bold.ttf);
    }

    html {
        font-family: 'code-regular';
    }

    body {
        background-color: #282C33;
        color: #ABB2BF;
    }
}